# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore
_notes/
/bower_components/
/node_modules/
/custom/whatleaderssay/scss/
/custom/whatleaderssay/src/
/custom/whatleaderssay/css/modules/
/custom/whatleaderssay/css/addons-pro/
/custom/whatleaderssay/css/addons/
/custom/whatleaderssay/js/modules/
/custom/whatleaderssay/js/addons/