# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore
_notes/
/bower_components/
/node_modules/
/custom/Global_Success_Cards/
/custom/Top_100_Innovators/
/custom/whatleaderssay/
/Rise360/KM_DX_Journey_Assessment/lib/